<section class="mid">
	<hgroup>
		<h2>Szolgáltatásaink</h2>
		<h3>Full-service mofo</h3>
	</hgroup>
</section>

	<div id="weboldal" class="service">
		<div class="mid">
			<h4>Weboldal készítés</h4>
			<p class="lead">A Pixelephant műhelyében készült weboldalak <em>valódi kézműves termékek</em>. A kezünk közül kikerülő weboldalakat teljesen egyedileg, házon belül készítjük el, nem használunk weboldal sablonokat és nem próbáljuk meg valamilyen kész megoldásra ráerőltetni az aktuális problémát. Minden oldalt egy kicsit a sajátunknak érzünk és minden ügyfelünk üzleti problémája a mi problémánk is.</p>
			<p>Hisszük, hogy egy <strong>jól megtervezett és kivitelezett weboldal</strong> valóban képes értéket teremteni, problémákat megoldani. Rajongunk a webért. <em>Tényleg.</em></p>
			
			<p>Projektjeink során jól definiált <a class="link" href="/workflow">munkafolyamatot</a> és <a class="link" href="/method">módszertant</a> alkalmazunk, így biztosítva, hogy akár a legegyszerűbb fejlesztésünk is átlátható legyen, üzletileg tervezhető maradjon.</p>

			<p>Nagy hangsúlyt fektetünk a pontos és alapos tervezésre, szeretjük a projektet végig kézben tartani, hogy a kreatív munkafázisokban se homályosuljanak el a célok. Ezt mi kreatív professzionalizmusnak hívjuk.</p>

			<p>Valljuk, hogy a design nem puszta pixeltologatás hanem egy kommunikációs eszköz, amivel a márkák a fogyasztókhoz szólnak. Designereink palettája színes, a minimialista designtől az aprólékos grafikákon át egészen az extravagáns stílusig készek alkotni. <strong>Rajonganak a pixelekért.</strong> Arról, hogy a lenyűgözö tervek életre is kelljenek, a <strong>szabványos és felhasználóbarát</strong> oldalakhoz megszállottan ragaszkodó fejlesztőnk gondoskodik. Az <em>interakció design és az információs hierarchia</em>  kőbe vésése előtt szóba sem áll a designerekkel.</p>

			<p>Weboldalaink mindig a legfrisebb technológiákkal vértezettek, követjük a trendeket de nem hódolunk be minden röpke divatirányzatnak, minden weboldalunk alapját a változatlan értekek, az egyszerű használhatóság, a letisztultság és a felhasználó barátság adja. Szemléletünk Dieter Rams <a class="link open" href="#dieter">klasszikus 10 pontján &darr;</a> alapszik.</p>

			<div id="dieter">
				<h5>A jó design</h5>
				<div class="clearfix">
				<ul>
					<li>innovatív</li>
					<li>hasznos</li>
					<li>esztétikus</li>
					<li>érthető</li>
					<li>diszkrét</li>
					<li>őszinte</li>
					<li>időtálló</li>
					<li>nem esetleges</li>
					<li>környezetbarát</li>
					<li>minél kevesebb</li>
				</ul>
				<%= link_to image_tag('dieter.png'),"http://en.wikipedia.org/wiki/Dieter_Rams" %>
				</div>
			</div>

			<p>A web egy folyamatosan változó médium, így egy oldal nem is igazán weboldal, ha az teljesen statikus. Fejlesztőink segítségével minden oldalhoz igény szerint saját adminisztrációs felületet vagy valamilyen bevált CMS-t képesek vagyunk implementálni. Sőt! <a class="link" href="#webalk">Webalkalmazásokat</a> is fejlesztünk. Mégsőtebb! A kész weboldalt igény szerint tovább monitorozzuk, hogy azt valós felhasználói visszacsatolás alapján tudjuk továbbfejleszteni, valamint ha már az elemzésnél járunk a <a class="link" href="#webmark">webmarketingért</a> is rajongunk.</p>

			<div class="extra">
				<h5>Reszponzivitás</h5>
				<p>Hisszük, hogy a tartalom nélküli design csak dekoráció. Saját nem reprezentatív tapasztalataink alapján a legtöbb csúszás a tartalmak előállítása miatt szokott bekövetkezni. Mivel -az elefántok nem csúsznak, csak a csigák- , a weboldal készítés előtt  tartalmi auditot készítünk, majd a brand kommunikációs stratégiájának megfelelően webes tartalami stratégiát dolgozunk ki. Így miután weboldal kilépett a világot jelentő deszkákra a megalkott stratégia és útmutató segítségével a kommunikáció konzisztens a tartalom pedig folyamatos marad.</p>
			</div>
			<div class="extra">
				<h5>Tartalmi stratégia</h5>
				<p>Hisszük, hogy a tartalom nélküli design csak dekoráció. Saját nem reprezentatív tapasztalataink alapján a legtöbb csúszás a tartalmak előállítása miatt szokott bekövetkezni. Mivel -az elefántok nem csúsznak, csak a csigák- , a weboldal készítés előtt  tartalmi auditot készítünk, majd a brand kommunikációs stratégiájának megfelelően webes tartalami stratégiát dolgozunk ki. Így miután weboldal kilépett a világot jelentő deszkákra a megalkott stratégia és útmutató segítségével a kommunikáció konzisztens a tartalom pedig folyamatos marad.</p>
			</div>
			<div class="extra">
				<h5>Felhasználói élmény</h5>
				<p>A szerelem az egyik legerősebb érzelem. Mi a Pixelephantnál szerelmesek vagyunk az (örömködtető) weboldalakba, a jól megkomponált felhasználói élményekbe. A boldog látogatóból előbb utóbb boldog vásárló és boldog megosztó lesz, így a munkafolyamatunkban komoly figyelmet fordítunk a helyes felhasználói élmény megalkotására. A felhasználói élmény nálunk nem egy csonkagúla hanem igazi piramis (Modified Maslow).</p>
			</div>
			<div class="extra">
				<h5>Szabványok</h5>
				<p>Fontosnak tartjuk, hogy weboldalaink szabványokon alapuljanak. Ennek és (l)módszertanunknak köszönhetően oldalaink a lehető legtöbb eszközön élvezhetőek, időtállóak és megfelelő alapokkal rendelkeznek a keresőoptimalizáláshoz.</p>
			</div>
			<h5>Ebben tudunk segíteni</h5>
			<ul>
				<li>weboldal készítés</li>
				<li>weboldal ráncfelvarrás</li>
				<li>interakció design</li>
				<li>user interface design</li>
				<li>user experience design</li>
				<li>information architecture</li>
				<li>kliens és szerver oldali fejlesztések</li>
				<li>tartalmi stratégia</li>
				<li>online üzleti stratégia</li>
				<li>grafikai tervezés</li>
				<li>responsive design és fejlesztés</li>
				<li>mobil fejlesztés</li>
				<li>domain és tárhely ügyintézés</li>
				<li>weboldal karbantartás</li>
			</ul>
		</div>
	</div>

	<div id="webalk" class="service">
		<div class="mid">
			<h4>Webalkalmazások</h4>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			<blockquote>
				<p>"Perfection is achived when there is nothing left to take away."</p>
				<span>&mdash; Norbert Pap</span>
			</blockquote>		
		</div>
	</div>

	<%= render 'common/contact' %>

	<div id="webmark" class="service">
		<div class="mid">
			<h4>Webmarketing</h4>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			<blockquote>
				<p>"Perfection is achived when there is nothing left to take away."</p>
				<span>&mdash; Norbert Pap</span>
			</blockquote>		
		</div>		
	</div>

	<div id="arculat" class="service">
		<div class="mid">
			<h4>Arculattervezés</h4>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			<blockquote>
				<p>"Perfection is achived when there is nothing left to take away."</p>
				<span>&mdash; Norbert Pap</span>
			</blockquote>		
		</div>
	</div>

