<section class="mid">
	<hgroup>
		<h2>Szolgáltatásaink</h2>
		<h3>Full-service mofo</h3>
	</hgroup>
</section>

	<div id="weboldal" class="service">
		<div class="mid">
			<h4>Weboldal készítés</h4>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentialy unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			<blockquote>
				<p>"Perfection is achived when there is nothing left to take away."</p>
				<span>&mdash; Norbert Pap</span>
			</blockquote>		
			<p>Lorem Ipsum is simply dummy text of the <strong>printing and typesetting industry.</strong> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentialy unchanged. It was popularised in the <a href="#" class="link">1960s with the release</a> of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			<h5>Ebben tudunk segíteni</h5>
			<ul>
				<li>Szolgáltatás</li>
				<li>Szolgáltatás</li>
				<li>Szolgáltatás</li>
				<li>Szolgáltatás</li>
				<li>Szolgáltatás</li>
				<li>Szolgáltatás</li>
				<li>Szolgáltatás</li>
				<li>Szolgáltatás</li>
				<li>Szolgáltatás</li>
				<li>Szolgáltatás</li>
				<li>Szolgáltatás</li>
				<li>Szolgáltatás</li>
				<li>Szolgáltatás</li>
				<li>Szolgáltatás</li>
				<li>Szolgáltatás</li>
			</ul>
		</div>
	</div>

	<div id="webalk" class="service">
		<div class="mid">
			<h4>Webalkalmazások</h4>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			<blockquote>
				<p>"Perfection is achived when there is nothing left to take away."</p>
				<span>&mdash; Norbert Pap</span>
			</blockquote>		
		</div>
	</div>

	<%= render 'common/contact' %>

	<div id="webmark" class="service">
		<div class="mid">
			<h4>Webmarketing</h4>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			<blockquote>
				<p>"Perfection is achived when there is nothing left to take away."</p>
				<span>&mdash; Norbert Pap</span>
			</blockquote>		
		</div>		
	</div>

	<div id="arculat" class="service">
		<div class="mid">
			<h4>Arculattervezés</h4>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			<blockquote>
				<p>"Perfection is achived when there is nothing left to take away."</p>
				<span>&mdash; Norbert Pap</span>
			</blockquote>		
		</div>
	</div>

