<section class="mid">
	<hgroup>
		<h2>Responsive web design</h2>
		<h3>mobil fókusszal</h3>
	</hgroup>	
</section>

<section class="mid"id="pitch">
	<p>Az eszközök és platformok száma melyekkel a webet elérjük, weboldalakat olvasunk és használunk napról-napra nő. A reszponzív weboldal készítés megoldást nyújt, hogy ne kelljen minden felülethez külön oldal-változatot karbantartanunk.</p>
	<p>A reszponzív weboldal adaptálódik az adott eszközhöz, így mindig a lehető legjobb felhasználói élményt nyújtja. A szemléletünk ezen alapszik - egy kis csavarral, mi a fejlesztést a <a class="link" href="#mobile">mobillal kezdjük.</a></p>
	<figure>
				<div class="img" data-picture data-alt="Responsive web design">
					<div data-src="/assets/resp-m.png"></div>
					<div data-src="/assets/resp-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<div data-src="/assets/resp.png" data-media="(min-width: 767px)"></div>
					<div data-src="/assets/resp@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/resp-m.png" alt="Responsive web design">
					</noscript>
				</div>
				<div data-picture data-class="animated" data-id="heart-green" data-alt="Zöld ♥">
					<div data-src="/assets/heart_green.png"></div>
					<div data-src="/assets/heart_green@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/heart_green.png" alt="Zöld ♥">
					</noscript>
				</div>
				<div data-picture data-class="animated" data-id="heart-orange" data-alt="Narancs ♥">
					<div data-src="/assets/heart_orange.png"></div>
					<div data-src="/assets/heart_orange@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/heart_orange.png" alt="Narancs ♥">
					</noscript>
				</div>
				<div data-picture data-class="animated" data-id="heart-yellow" data-alt="Sárga ♥">
					<div data-src="/assets/heart_yellow.png"></div>
					<div data-src="/assets/heart_yellow@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/heart_yellow.png" alt="Sárga ♥">
					</noscript>
				</div>
			</figure>
</section>


<section class="mid" id="resp">
	<h4>Responsive web design</h4>
	<p>A reszponzív weboldal készítés segítségével biztos lehet abban, hogy látogatói és vásárlói mindig a megfelelő élményben részesülnek, helytől és eszköztől függetlenül. Legyen az a metrón ülve egy táblagéppel, kávészünetben egy okostelefonnal, vagy a kanapén ülve egy laptoppal.</p>
	<div class="clearfix">
		<p id="tryp">A módszertan lényege, hogy olyan weboldalakat hozunk létre, amelyek kellően flexibilisek és adaptálódnak a megváltozott böngészési szokásoknak megfelelően. A speciális "mobilra optimalizált" weboldalakkal ellentétben, a reszponzív weboldal készítés mindig az adott eszköz képességeihez és méreteihez igazodik, úgy, hogy nem szükséges külön mobilra, tabletre, laptopra, szélesvásznú megjelenítőre egyedi változatokat létrehozni. Napról-napra új eszközök, kijelző techonológiák jelennek meg, nonszensz lenne minderre külön weboldalt karbantartani. A responsive web design magját pont ez képzi, így ez a megoldás a <strong>jövőbe tekint</strong>.</p>
		<div id="try">
		<h3>Nézze meg hogyan adaptálódik ez az oldal!</h3>
		<div class="clearfix">
			<%= image_tag "phone_icon.png", "data-width" => 480 %> <%= image_tag "tablet_icon.png", "data-width" => 768 %> <%= image_tag "desktop_icon.png", "data-width" => 1200 %>
		</div>
	</div>
	</div>



	<h5>Előnyök</h5>
	<ul>
		<li><strong>Csökkenő költségek:</strong> A honlap készítés és karbantartás költsége lényegesen csökken, hiszen nincs szükség külön oldalak létrehozására a különböző eszközök kezelésére. Nagyobb ROI.</li>
		<li><strong>Versenyelőny:</strong> A böngészők 40%-a elpártol |IDE VHONNAN KONKRÉT ADAT BECSILLAGOZVA| a rossz felhasználói élménnyel rendelkező mobil oldalról.</li>
		<li><strong>SEO érték:</strong> Az egységes URL struktúra miatt az oldalra mutató linkek nem oszlanak el a mobil és az asztali oldal között, ezt a Google nagyon (l)szereti.</li>
	</ul>

</section>

<section id="price">
	<div class="mid">
		<h4>Ez mind szép és jó, de mennyibe fog kerülni?</h4>
		<p>Ez természetesen magától a weboldaltól függ. Egy dolog biztos, <strong>sokkal kevesebbe, mint</strong> amennyit egy mobil alkalmazás fejlesztő kérne, vagy  <strong>amennyibe az eszközfüggő verziók elkészítése kerülne.</strong> Jól hangzik? <a class="link quote-button" href="#" class="link">Kérjen árajánlatot!</a></p>
	</div>
</section>

<section class="mid" id="mobile">
	<h4>Miért mobil fókusszal?</h4>
	<div class="clearfix">
		<p>Mobil fókusz = a tervezés a mobillal kezdődik. Miért is? Nézzen körbe egy bevásárlóközpontban, a kávézóban vagy egy iskola környékén és meglátja, hogy miért is a mobil interneté a jövő. A mobil fókusz felkészít minket a mobil robbanásszerű térnyerésére, lehetőséget ad a benne rejlő lehetőségek kihasználására. Rákényszerít arra, hogy a felhasználót helyezzük a fókuszba, a weboldalunk legfontosabb részei prioritást nyerjenek (egy mobil kijelzőn nem sok helyünk marad felesleges funkciókat elhelyezni). <strong>A Pixelephant hisz benne, hogy a mobil kötöttségei nem hátrányt jelentenek, hanem innovációra sarkallnak.</strong>
		</p>
		<figure>
			<div data-picture data-alt="2014-re a mobil internethasználat meg fogja használni az asztali internethasználatot">
			<div data-src="/assets/grafikon.png"></div>
			<div data-src="/assets/grafikon@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
			<noscript>
				<img src="/assets/grafikon.png" alt="2014-re a mobil internethasználat meg fogja használni az asztali internethasználatot">
			</noscript>
		</div>
		<h5><a target="_blank" href="http://www.cisco.com/en/US/solutions/collateral/ns341/ns525/ns537/ns705/ns827/white_paper_c11-520862.html" class="link">Forrás - Cisco</a></h5>
		</figure>
	</div>

	<h5>Előnyök</h5>
	<ul>
		<li><strong>Szélesíti a piacot:</strong> hiszen pl. a webáruházban történő vásárlás így nem kellemetlen élmény</li>
		<li><strong>Fókuszba kerül a felhasználó:</strong> a weboldal letisztult és egyértelmű lesz</li>
		<li><strong>Innovatív élményeket</strong> hozhat létre a mobil technológiák segítségével</li>
	</ul>
</section>
<section id="test">
	<div class="mid">
	<form action="#">
		<h5>Nézze meg saját weboldalának változatait!</h5>
		<input type="url" name="test" id="test" value="http://">
		<div class="clearfix">
			<label for="t-phone">Mobil<input type="radio" name="gr" id="t-phone" data-width="480" checked></label>
			<label for="t-tablet">Tablet<input type="radio" name="gr" data-width="768" id="t-tablet"></label>
		</div>
		<p>
			<input type="submit" value="Megnézem">
		</p>
	</form>
	</div>
</section>

<%= render 'common/resp' %>