<section class="mid" id="portfolio">
	<hgroup>
		<h2>Portfólió</h2>
		<h3>Válogatott munkáink</h3>
	</hgroup>
	<div class="clearfix">
		<a href="/portfolio/maform" class="p-el study">
			<div class="img" data-picture data-alt="Responsive web design - Maform">
		        <div data-src="/assets/portfolio/maform/project-m.png"></div>
		        <div data-src="/assets/portfolio/maform/project-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/maform/project.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/maform/project@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/maform/project-m.png" alt="Responsive web design - Maform">
		        </noscript>
    		</div>
			<div class="title">
				<div data-picture data-alt="Weboldal készítés">
					<div data-src="/assets/icon_webo.png"></div>
					<div data-src="/assets/icon_webo@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/icon_webo.png" alt="Responsive web design">
					</noscript>
				</div>
				<h4>Maform</h4>
				<p>Responsive web design.</p>
			</div>
		</a>
		<a href="/portfolio/utransfer" class="p-el study">
			<div class="img" data-picture data-alt="Honlap készítés - uTransfer">
		        <div data-src="/assets/portfolio/utransfer/project-m.png"></div>
		        <div data-src="/assets/portfolio/utransfer/project-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/utransfer/project-m.png" alt="Honlap készítés - uTransfer">
		        </noscript>
    		</div>
			<div class="title">
				<div data-picture data-alt="Honlap készítés">
					<div data-src="/assets/icon_webo.png"></div>
					<div data-src="/assets/icon_webo@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/icon_webo.png" alt="Honlap készítés">
					</noscript>
				</div>
				<h4>uTransfer Hungary</h4>
				<p>Logó ráncfelvarrás és honlap készítés.</p>
			</div>
		</a>
		<a href="/portfolio/flairspring" class="p-el">
			<div class="img" data-picture data-alt="Arculattervezés - Flairspring">
		        <div data-src="/assets/portfolio/flairspring/project-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/project-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/project-m.png" alt="Arculattervezés - Flairspring">
		        </noscript>
    		</div>
			<div class="title">
				<div data-picture data-alt="Arculattervezés">
					<div data-src="/assets/icon_arculat.png"></div>
					<div data-src="/assets/icon_arculat@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/icon_arculat.png" alt="Arculattervezés">
					</noscript>
				</div>
				<h4>Flairspring</h4>
				<p>Arculattervezés.</p>
			</div>
		</a>
	</div>
	<p class="cta">
		<a class="bluepill" href="/portfolio">Teljes portfóliónk</a>
	</p>
</section>

<section class="mid" id="services">
	<hgroup>
		<h2>Szolgáltatások</h2>
		<h3>Ebben tudunk segíteni</h3>
	</hgroup>
	<div class="clearfix">
		<a href="/szolgaltatasok#weboldal" class="s-el" id="webdesign">
			<h4>Honlap készítés</h4>
			<p>A Pixelephant műhelyében készült weboldalak <em>valódi kézműves termékek</em>. Hisszük, hogy egy <strong>jól megtervezett és kivitelezett honlap</strong> valóban képes értéket teremteni. Rajongunk a webért. Tényleg.</p>
		</a>
		<a href="/szolgaltatasok#webalk" class="s-el" id="webapps">
			<h4>Webalkalmazások</h4>
			<p>Imádjuk, ha a weboldak készítésében szerzett tapasztalatainkat valamilyen <strong>komplex rendszer</strong> kialakításában kamatoztathatjuk. Legyen szó <strong>webáruházról</strong>, <strong>ügyviteli</strong> rendszerről vagy bármilyen egyéb alkalmazásról.</p>
		</a>
		<a href="/szolgaltatasok#webmark" class="s-el" id="webmarketing">
			<h4>Online marketing</h4>
			<p>Megtervezzük a legmegfelelőbb <strong>online marketing</strong> stratégiát vállalata számára; optimálisan elosztjuk mind az emberi, mind az anyagi erőforrásait, hogy az <strong>online jelenléte</strong> <em>ne csak pénzt nyeljen, hanem termeljen is</em>. Sőt, a puszta elméleti tervezésen túl be is indítjuk a gépezetet.</p>
		</a>
		<a href="/szolgaltatasok#arculat" class="s-el" id="corp">
			<h4>Arculattervezés</h4>
			<p>A Pixelephant olyan <strong>logó</strong>t és <strong>arculati elemek</strong>et alkot, amelyek <em>nemcsak lenyűgözőek, de kommunikálnak is</em>. Legyen szó ráncfelvarrásról, vagy egy vadonatúj <strong>márka létrehozás</strong>áról, csapatunk mindig készenlétben áll.</p>
		</a>
	</div>
	<p class="cta">
		<a class="bluepill" href="/szolgaltatasok">Szolgáltatásaink</a>
	</p>
</section>

<%= render 'common/team' %>

<section class="mid" id="method">
	<hgroup>
		<h2>Szemlélet</h2>
		<h3>Mobil fókuszú responsive web design</h3>
	</hgroup>
	<div class="clearfix">
		<p class="text">A mobil fókuszú reszponzív weboldalkészítés segítségével biztos lehet abban, hogy látogatói és vásárlói mindig a megfelelő élményben részesüljenek, helytől és eszköztől függetlenül. Legyen az a metrón ülve egy táblagéppel, két megbeszélés közötti kávészünetben egy okostelefonnal, vagy a kanapén ülve laptoppal az ölükben. <a class="link" href="/szemlelet">Hogyan csináljuk?</a></p>
		<figure>
			<div data-picture data-alt="Reszponzív weboldal készítés">
			<div data-src="/assets/weboldalkeszites.png"></div>
			<div data-src="/assets/weboldalkeszites@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
			<noscript>
				<img src="/assets/weboldalkeszites.png" alt="Reszponzív weboldal készítés">
			</noscript>
		</div>
		</figure>
	</div>
	<p class="cta">
		<a class="bluepill" href="/szemlelet">Szemléletünk</a>
	</p>
</section>

<section class="mid" id="work">
	<hgroup>
		<h2>Munkafolyamat</h2>
		<h3>Egy projekt élete</h3>
	</hgroup>
	<div class="clearfix">
		<figure>
				<div data-picture data-alt="Kutatás és tervezés">
					<div data-src="/assets/mwork.png"></div>
					<div data-src="/assets/mwork@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/mwork.png" alt="Kutatás és tervezés">
					</noscript>
				</div>
				<div data-picture data-alt="" data-class="animated" data-id="research-green">
					<div data-src="/assets/research_green.png"></div>
					<div data-src="/assets/research_green@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/research_green.png" alt="" id="research-green" class="animated">
					</noscript>
				</div>
				<div data-picture data-alt="" data-class="animated" data-id="research-orange">
					<div data-src="/assets/research_orange.png"></div>
					<div data-src="/assets/research_orange@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/research_orange.png" alt="" id="research-orange" class="animated">
					</noscript>
				</div>
				<div data-picture data-alt="" data-class="animated" data-id="research-red">
					<div data-src="/assets/research_red.png"></div>
					<div data-src="/assets/research_red@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/research_red.png" alt="" id="research-red" class="animated">
					</noscript>
				</div>
				<div data-picture data-alt="" data-class="animated" data-id="research-yellow">
					<div data-src="/assets/research_yellow.png"></div>
					<div data-src="/assets/research_yellow@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/research_yellow.png" alt="" id="research-yellow" class="animated">
					</noscript>
				</div>
		</figure>
		<p class="text">
			Megfelelő projektmenedzsment nélkül a legnagyszerűbb ötletekből sem lesznek nagyszerű végeredmények. Jól definiált munkafolyamatunk biztosítja, hogy bármilyen fejlesztés végig átlátható és szervezett maradjon, a kreatív fázisokban se homályosuljanak el az üzleti célok. <a href="/munkafolyamat" class="link">Kövesse végig egy Pixelephant projekt életét!</a>
		</p>
	</div>
	<p class="cta">
		<a class="bluepill" href="/munkafolyamat">Munkafolyamatunk</a>
	</p>
</section>
<%= render 'common/mobile' %>

