<section class="mid">
	<hgroup>
		<h2>Munkafolyamat</h2>
		<h3>Egy web projekt élete</h3>
	</hgroup>
</section>

<div class="step" id="enquiry">
	<div class="mid">
		<div class="clearfix">
			<div class="text">
				<h4>1. Kapcsolatfelvéltel &amp; Árajánlat</h4>
				<p>
					Minden jó kapcsolat a bemutatkozással és az elvárások lefektetésével kezdődik. Ha úgy érzi, meg tudjuk oldani valamilyen problémáját, ne habozzon, <a class="quote-button link" href="#">írjon nekünk.</a> Ígérjük, hogy a személyre sazbott árajánlat elkészítése előtt alaposan tanulmányozzuk a feladataot.
				</p>
				<p>
					Amennyiben az irányárakban és elképzelésekben meg tudunk egyezni egy személyes kick-off meeting keretében pontosítjuk az árat és az elvégzendő munka keretét. A szerződést aláírva pezsgőt bontunk, és már  neki is látunk a kutatásnak és tervezésnek.
				</p>
			</div>
			<figure>
				<%= image_tag 'enquiry.png' %>
				<%= image_tag 'enquiry_green.png', :id => "enquiry-green", :class => "animated" %>
				<%= image_tag 'enquiry_blue.png', :id => "enquiry-blue", :class => "animated" %>
				<%= image_tag 'enquiry_red.png', :id => "enquiry-red", :class => "animated" %>
				<%= image_tag 'enquiry_yellow.png', :id => "enquiry-yellow", :class => "animated" %>
				<%= image_tag 'enquiry_purple.png', :id => "enquiry-purple", :class => "animated" %>
			</figure>
		</div>
		<h5>Ezt adjuk át a lépés végén</h5>
		<ul>
			<li>Szerződés</li>
			<li>Időtervezet</li>
		</ul>
	</div>
</div>

<div class="step" id="research">
	<div class="mid">
		<div class="clearfix">
			
			<figure>
				<%= image_tag 'research.png' %>
				<%= image_tag 'research_green.png', :id => "research-green", :class => "animated" %>
				<%= image_tag 'research_orange.png', :id => "research-orange", :class => "animated" %>
				<%= image_tag 'research_red.png', :id => "research-red", :class => "animated" %>
				<%= image_tag 'research_yellow.png', :id => "research-yellow", :class => "animated" %>
			</figure>
			<div class="text">
				<h4>2. Kutatás &amp; Tervezés</h4>
				<p>Mielőtt nekilátnánk a weboldal designjának és felépítésének, előtte meg kell értenünk az oldal célját, az üzleti és vállalati célkitűzéseket, fel kell térképeznünk a célcsoportot és minden olyan tényezőt amely befolyásolhatja a munkánkat.</p>
				<p>Elemezzük az ipari statisztikákat, ráncfelvarrás esetén pedig a meglévő honlap látogatottsági adatait, hogy valós tények alapján tervezzünk. Az oldal helyes pozicionálásának érdekében versenytárs elemzést végzünk, valamint elemezzük a releváns kulcsszavak keresési tendenciáit is.</p>
				<p>Hisszük, hogy az oldal designjának a tartalomhoz kell illeszkednie, nem csak dekorálnia azt, ezért a következő lépés előtt felállítjuk az információs hierarchiát és lefektetjük a tartalmi stratégia alapjait is.</p>
			</div>
		</div>
		<h5>Ezt adjuk át a lépés végén</h5>
			<ul>
				<li>Kompetitív analízis</li>
				<li>Felhasználói analízis</li>
				<li>Stratégiai és követelmény dokumentáció</li>
				<li>(l)Oldaltérkép és alap tartalmi stratégia</li>
				<li>(l)Használati esetek és tipikus felhasználói modelle</li>
			</ul>
	</div>
</div>

<div class="step" id="design">
	<div class="mid">
		<div class="clearfix">
			<div class="text">
				<h4>3. Design</h4>
				<p>Fontosnak tartjuk, hogy megértsük a tervezett honlap célját, az üzleti célkitűzéseket, hogy azoknak megfelelően alakíthassuk ki a honlap felépítését és kinézetét.</p>
				<p>A célcsoport és a kompetíció elemzéssel kapott adatok segítségével a weboldalt megfelelően tudjuk pozícionálni, valamint meglévő honlap esetén a felhasználási és látogatottsági statisztikák alapján valós képet kapunk a teljesítményről is.</p>
				<p>A webmarketing stratégia alapjait is lefektetjük, keresési trendek és terminológia kutatással.</p>
				<p>Hisszük, hogy az oldal designjának a tartalomhoz kell illeszkednie, nem csak dekorálnia azt, ezért a következő lépés előtt felállítjuk az információs hierarchiát és lefektetjük a tartalmi stratégia alapjait is.</p>
			</div>
			<figure>
				<%= image_tag 'design.png' %>
				<%= image_tag 'design_green.png', :id => "design-green", :class => "animated" %>
				<%= image_tag 'design_orange.png', :id => "design-orange", :class => "animated" %>
				<%= image_tag 'design_red.png', :id => "design-red", :class => "animated" %>
				<%= image_tag 'design_yellow.png', :id => "design-yellow", :class => "animated" %>
			</figure>
		</div>
		<h5>Ezt adjuk át a lépés végén</h5>
			<ul>
				<li>(l)Wireframek</li>
				<li>(l)Hangulattáblák</li>
				<li>(l)Stíluslapok</li>
				<li>(l)Oldaltervek</li>
			</ul>
	</div>
</div>

<%= render 'common/mobile2' %>

<div class="step" id="development">
	<div class="mid">
		<div class="clearfix">
			
			<figure>
				<%= image_tag 'development.png' %>
				<%= image_tag 'development_green.png', :id => "development-green", :class => "animated" %>
				<%= image_tag 'development_blue.png', :id => "development-blue", :class => "animated" %>
				<%= image_tag 'development_red.png', :id => "development-red", :class => "animated" %>
				<%= image_tag 'development_yellow.png', :id => "development-yellow", :class => "animated" %>
			</figure>
			<div class="text">
				<h4>4. Fejlesztés</h4>
				<p>Az oldal mögött álló kód is pontosan annyira fontos, mint a külcsín. Ezáltal érhető el, hogy a lehető legtöbb eszközön és a lehető legtöbb felhasználó számára elérhető legyen a tartalom, magas felhasználói élményt nyújtson. A Pixelephant weboldalai fel vannak készítva a mobil eszközök robbánasszerű terjedésére a web változékonyságára. Hogyan csináljuk. Olvasson bővebben (l)szemléletünkről.</p>
				<p>Fejlesztőink ragaszkodnak a szabványos oldalak készítéséhez, amely nem csak megfelelő alapot hoz létre a keresőoptimalizáláshoz, de a sebességet is nagyban befolyásolja.</p>

			</div>
		</div>
		<h5>Ezt adjuk át a lépés végén</h5>
			<ul>
				<li>Programkód (HTML5, CSS3, JavaScript (jQuery), PHP, Ruby on Rails)</li>
				<li>Tesztszerver</li>
				<li>Dokumentáció</li>
			</ul>
	</div>
</div>

<div class="step" id="testing">
	<div class="mid">
		<div class="clearfix">
			<div class="text">
				<h4>5. Tesztelés &amp; Start</h4>
				<p>A hibátlan végeredmény érdekében az elkészült weboldalt szigorú tesztelésnek vetjük alá, többféle eszközön, operációs rendszeren és böngészőben vizsgáljuk azt. Az utolsó finomítások végrehajtása után nem marad más hátra, mint a publikálás.</p>
			</div>
			<figure>
				<%= image_tag 'testing.png', :id => "testing_enter" %>
				<%= image_tag 'testing_purple.png', :id => "testing-purple", :class => "animated" %>
				<%= image_tag 'testing_rocket.png', :id => "testing_rocket" %>
			</figure>
		</div>
		<h5>Ezt adjuk át a lépés végén</h5>
			<ul>
				<li>Elkészült weboldal</li>
				<li>Hozzáférések</li>
			</ul>
	</div>
</div>

<div class="step" id="marketing">
	<div class="mid">
		<div class="clearfix">
			
			<figure>
				<%= image_tag 'marketing.png' %>
				<%= image_tag 'marketing_green.png', :id => "marketing-green", :class => "animated" %>
				<%= image_tag 'marketing_orange.png', :id => "marketing-orange", :class => "animated" %>
				<%= image_tag 'marketing_red.png', :id => "marketing-red", :class => "animated" %>
				<%= image_tag 'marketing_yellow.png', :id => "marketing-yellow", :class => "animated" %>
			</figure>
			<div class="text">
				<h4>6. Webmarketing &amp; Karbantartás</h4>
				<p>A publikálása után sem hagyjuk magára az oldalt. Bár az elkészített egyedi adminisztációs rendszer segítségével reményeik szerint bárki programozói tudás nélkül frissen tudja tartani azt, igény szerint folyamatos karbantartást biztosítunk.</p>
				<p>Mit sem ér egy nagyszerű weboldal, ha azt a látogatók nem találják meg. Organikus keresőoptimalizálással, Google PPC kampányokkal, közösségi oldal menedzsmenttel és a webmarketing gyakorlatilag minden válfajával segítünk ezen a problémán.</p>
			</div>
		</div>
		<h5>Ezt adjuk át a lépés végén</h5>
			<ul>
				<li>Havi marketing jelentés</li>
			</ul>
	</div>
</div>

<%= render 'common/marketing' %>