<section class="mid">
	<hgroup>
		<h1>Portfólió</h1>
		<h3>Legkedvencebb munkáink</h3>
	</hgroup>
	<div id="portfolio-grid">
		<a href="/portfolio/maform" class="p-el">
			<div class="img" data-picture data-alt="Reszponzív weboldalkészítés - Maform">
		        <div data-src="/assets/portfolio/maform/project-m.png"></div>
		        <div data-src="/assets/portfolio/maform/project-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/maform/project-m.png" alt="Reszponzív weboldalkészítés - Maform">
		        </noscript>
    		</div>
			<div class="title">
				<div data-picture data-alt="Weboldal készítés">
					<div data-src="/assets/icon_webo.png"></div>
					<div data-src="/assets/icon_webo@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/icon_webo.png" alt="Weboldal készítés">
					</noscript>
				</div>
				<h4>Maform</h4>
				<p>Reszponzív weboldalkészítés.</p>
			</div>
		</a>
		<a href="/portfolio/utransfer" class="p-el">
			<div class="img" data-picture data-alt="Weboldalkészítés - uTransfer">
		        <div data-src="/assets/portfolio/utransfer/project-m.png"></div>
		        <div data-src="/assets/portfolio/utransfer/project-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/utransfer/project-m.png" alt="Weboldalkészítés - uTransfer">
		        </noscript>
    		</div>
			<div class="title">
				<div data-picture data-alt="Weboldal készítés">
					<div data-src="/assets/icon_webo.png"></div>
					<div data-src="/assets/icon_webo@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/icon_webo.png" alt="Weboldal készítés">
					</noscript>
				</div>
				<h4>uTransfer Hungary</h4>
				<p>Logó facelift és weboldal készítés.</p>
			</div>
		</a>
		<a href="/portfolio/flairspring" class="p-el study">
			<div class="img" data-picture data-alt="Arculattervezés - Flairspring">
		        <div data-src="/assets/portfolio/flairspring/project-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/project-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/project-m.png" alt="Arculattervezés - Flairspring">
		        </noscript>
    		</div>
			<div class="title">
				<div data-picture data-alt="Arculattervezés">
					<div data-src="/assets/icon_arculat.png"></div>
					<div data-src="/assets/icon_arculat@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/icon_arculat.png" alt="Arculattervezés">
					</noscript>
				</div>
				<h4>Flairspring</h4>
				<p>Arculattervezés</p>
			</div>
		</a>
		<a href="/portfolio/ewutazas" class="p-el">
			<div class="img" data-picture data-alt="Weboldal készítés - East-West">
		        <div data-src="/assets/portfolio/ew/project-m.png"></div>
		        <div data-src="/assets/portfolio/ew/project-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/ew/project-m.png" alt="Weboldal készítés - East-West">
		        </noscript>
    		</div>
			<div class="title">
				<div data-picture data-alt="Webalkalmazás fejlesztés">
					<div data-src="/assets/icon_weba.png"></div>
					<div data-src="/assets/icon_weba@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/icon_weba.png" alt="Webalkalmazás fejlesztés">
					</noscript>
				</div>
				<h4>East-West Utazási és Sport Iroda</h4>
				<p>Weboldalkészítés és webmarketing.</p>
			</div>
		</a>
		<a href="/portfolio/traveltrix" class="p-el">
			<div class="img" data-picture data-alt="Arculattervezés - Traveltrix">
		        <div data-src="/assets/portfolio/traveltrix/project-m.png"></div>
		        <div data-src="/assets/portfolio/traveltrix/project-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/traveltrix/project-m.png"alt="Arculattervezés - Traveltrix">
		        </noscript>
    		</div>
			<div class="title">
				<div data-picture data-alt="Arculattervezés">
					<div data-src="/assets/icon_arculat.png"></div>
					<div data-src="/assets/icon_arculat@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/icon_arculat.png" alt="Arculattervezés">
					</noscript>
				</div>
				<h4>Traveltrix</h4>
				<p>Arculattervezés.</p>
			</div>
		</a>
		<a href="/portfolio/tenderfigyelo" class="p-el">
			<div class="img" data-picture data-alt="Webalkalmazás fejlesztés - Tenderfigyelő">
		        <div data-src="/assets/portfolio/tender/project-m.png"></div>
		        <div data-src="/assets/portfolio/tender/project-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/tender/project-m.png"alt="Webalkalmazás fejlesztés - Tenderfigyelő">
		        </noscript>
    		</div>
			<div class="title">
				<div data-picture data-alt="Webalkalmazás fejlesztés">
					<div data-src="/assets/icon_weba.png"></div>
					<div data-src="/assets/icon_weba@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/icon_weba.png" alt="Webalkalmazás fejlesztés">
					</noscript>
				</div>
				<h4>Tenderfigyelő</h4>
				<p>Webalkalmazásfejlesztés és webmarketing.</p>
			</div>
		</a>
		<a href="/portfolio/siklosdentalstudio" class="p-el">
			<div class="img" data-picture data-alt="Weboldalkészítés - Siklós Dental Studio">
		        <div data-src="/assets/portfolio/sds/project-m.png"></div>
		        <div data-src="/assets/portfolio/sds/project-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/sds/project-m.png"alt="Weboldalkészítés -Siklós Dental Studio">
		        </noscript>
    		</div>
			<div class="title">
				<div data-picture data-alt="Weboldal készítés">
					<div data-src="/assets/icon_webo.png"></div>
					<div data-src="/assets/icon_webo@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/icon_webo.png" alt="Weboldal készítés">
					</noscript>
				</div>
				<h4>Siklós Dental Studio</h4>
				<p>Weboldalkészítés és arculattervezés.</p>
			</div>
		</a>
	</div>
</section>

<%= render 'common/workflow' %>
