<section class="mid">
	<hgroup>
		<h1>Portfólió</h1>
		<h3>Legkedvencebb munkáink</h3>
	</hgroup>
	<div id="portfolio-grid">
		<a href="/portfolio/show" class="p-el">
			<div class="img">
				<img src="/assets/pics.png" alt="">
			</div>
			<div class="title">
				<img src="/assets/icon_webo.png" alt="Weboldal készítés">
				<h4>Flairspring</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
			</div>
		</a>
		<a href="/portfolio/show" class="p-el study">
			<div class="img">
				<img src="/assets/pics.png" alt="">
			</div>
			<div class="title">
				<img src="/assets/icon_webm.png" alt="Webmarketing">
				<h4>Flairspring <em><span class="plus">+</span>esettanulmány</em></h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
			</div>
		</a>
		<a href="/portfolio/show" class="p-el">
			<div class="img">
				<img src="/assets/pics.png" alt="">
			</div>
			<div class="title">
				<img src="/assets/icon_weba.png" alt="Webalkalmazások">
				<h4>Flairspring</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
			</div>
		</a>
		<a href="/portfolio/show" class="p-el">
			<div class="img">
				<img src="/assets/pics.png" alt="">
			</div>
			<div class="title">
				<img src="/assets/icon_weba.png" alt="Webalkalmazások">
				<h4>Flairspring</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
			</div>
		</a>
		<a href="/portfolio/show" class="p-el">
			<div class="img">
				<img src="/assets/pics.png" alt="">
			</div>
			<div class="title">
				<img src="/assets/icon_weba.png" alt="Webalkalmazások">
				<h4>Flairspring</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
			</div>
		</a>
		<a href="/portfolio/show" class="p-el">
			<div class="img">
				<img src="/assets/pics.png" alt="">
			</div>
			<div class="title">
				<img src="/assets/icon_weba.png" alt="Webalkalmazások">
				<h4>Flairspring</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
			</div>
		</a>
	</div>
</section>