<section class="mid">
	<hgroup>
		<h2>Traveltrix</h2>
		<h3>Arculattervezés</h3>
		<%= render "common/portfolio_nav" %>
	</hgroup>
	<div id="text">
		<div id="portfolio-image">
			<div class="img" data-picture data-alt="Arculattervezés - Traveltrix">
		        <div data-src="/assets/portfolio/traveltrix/project-m.png"></div>
		        <div data-src="/assets/portfolio/traveltrix/project-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/traveltrix/project.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/traveltrix/project@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/traveltrix/project-m.png"alt="Arculattervezés - Traveltrix">
		        </noscript>
    		</div>
		</div>
		<div class="clearfix">
			<div>
				<h4>Megrendelő</h4>
				<p>Traveltrix</p>
				<ul>
					<li>Arculattervezés</li>
				</ul>
			</div>
			<div>
				<h4>A probléma</h4>
				<p>A Traveltrix csapata azzal keresett fel minket, hogy start-up vállalkozásuknak szeretnének vizuális megjelenést létrehozni. Vállalkozásuk turisztikai szolgáltatásokat nyújt teljesen személyre szabott módon. Követelmény volt még, hogy a fő brandből később könnyen lehessen további al-brandeket létrehozni úgy, hogy azok vizuálisan is köthetőek legyenek a a céghez.</p>
			</div>
			
			<div>
				<h4>A megoldás</h4>
				<p>Az arculat kialakítását a hangulat meghatározásával kezdtük. A színeket a természetből kölcsönöztük, a növények, a föld és az ég színeit alkalmaztuk. A start-up online mivoltát a tipográfiában jelenítettük meg, egy mondern betűtípus választással, így a szolgáltatás kettőssége is megjelenik az arculat alapjaiban. A logó formája egy térkép jelölő lett, amely a turizmushoz erősen kapcsolódó forma. Az al-brandek problémáját úgy oldottuk meg, hogy azok esetében a tipográfia és a térkép jelölőt vettük közös elemként, a színek és a jelölő közepén található grafikák az adott al-brand jellegéhez idomulnak.</p>
			</div>

			<div>
				<h4>Eredmények</h4>
				<p>A logó és az általános arculati követelmények megfogalmazása utána többféle elemet készítettünk el, többek között brossúrákat, levélpapírokat és névjegykártyákat.</p>
			</div>
		</div>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Logó">
		        <div data-src="/assets/portfolio/traveltrix/logo-m.png"></div>
		        <div data-src="/assets/portfolio/traveltrix/logo-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/traveltrix/logo.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/traveltrix/logo@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/traveltrix/logo-m.png"alt="Logó">
		        </noscript>
    		</div>
		</figure>
		<h3>Logó</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Logó színei">
		        <div data-src="/assets/portfolio/traveltrix/colors-m.png"></div>
		        <div data-src="/assets/portfolio/traveltrix/colors-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/traveltrix/colors.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/traveltrix/colors@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/traveltrix/colors-m.png"alt="Logó színei">
		        </noscript>
    		</div>
		</figure>
		<h3>Logó színei</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Névjegykártya">
		        <div data-src="/assets/portfolio/traveltrix/cards-m.png"></div>
		        <div data-src="/assets/portfolio/traveltrix/cards-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/traveltrix/cards.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/traveltrix/cards@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/traveltrix/cards-m.png"alt="Névjegykártya">
		        </noscript>
    		</div>
		</figure>
		<h3>Névjegykártya</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Boríték">
		        <div data-src="/assets/portfolio/traveltrix/envelopes-m.png"></div>
		        <div data-src="/assets/portfolio/traveltrix/envelopes-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/traveltrix/envelopes.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/traveltrix/envelopes@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/traveltrix/envelopes-m.png"alt="Boríték">
		        </noscript>
    		</div>
		</figure>
		<h3>Boríték</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Brossúra">
		        <div data-src="/assets/portfolio/traveltrix/brochure-m.png"></div>
		        <div data-src="/assets/portfolio/traveltrix/brochure-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/traveltrix/brochure.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/traveltrix/brochure@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/traveltrix/brochure-m.png"alt="Brossúra">
		        </noscript>
    		</div>
		</figure>
		<h3>Brossúra</h3>
	</div>
	
	
</section>

<%= render 'common/like' %>