<section class="mid">
	<hgroup>
		<h2>Flairpsring</h2>
		<h3>Arculat kialakítása a Flairspring lakberendezésnek</h3>
		<%= render "common/portfolio_nav" %>
	</hgroup>
	<div id="text">
		<div id="portfolio-image">
			<div class="img" data-picture data-alt="Arculattervezés - Flairspring">
		        <div data-src="/assets/portfolio/flairspring/project-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/project-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/flairspring/project.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/flairspring/project@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/project-m.png" alt="Arculattervezés - Flairspring">
		        </noscript>
    		</div>
		</div>
		<div class="clearfix">
			<div>
				<h4>Megrendelő</h4>
				<p>Flairpsring</p>
				<ul>
					<li>Arculattervezés</li>
				</ul>
			</div>
			<div>
				<h4>A probléma</h4>
				<p>Feladatunk egy újonnan piacra lépő cég arculatának kialakítása volt. A bútorokat és lakberendezési kiegészítőket kínáló Flairspring célja az volt, hogy két, az Egyesült Államokban már jól ismert márkát vezessen be a magyar piacra. <!--Az egyik fő szempont az volt, hogy a barátságos, otthonos kommunikálása mellett első pillantásra is felismerhető legyen, hogy a cég jelenleg - és a tervek szerint a későbbi, új márkák bevonásával is - a felső-középkategóriás vásárlókat célozza meg elsődlegesen, nem kíván exkluzív, felső-kategóriás bolt lenni.-->A fő szempont a közvetlen, barátságos, otthonos hangulat megteremtése volt. Annak érzékeltetése, hogy a cég nem kíván az exklúzív felső kategóriás boltok közé tartozni. Termékeivel a felső-középkategóriás fogyasztói réteget célozza meg.</p>
			</div>
			
			<div>
				<h4>A megoldás</h4>
				<p>A tipográfia, a színek és a logó alapját adó forma (lámpás) kiválasztása után grafikusaink feladata egy olyan logó megalkotása volt, mely minden tervezett felhasználási felületen megállja a helyét, azaz ugyanolyan jól mutat a névjegykártyákon, mint bolt feletti világító feliratként.
				Az egyszerű névjegykártyákon kizárólag a kapcsolatfelvételhez szükséges adatok jelennek meg, míg készültek ún. trifold (3 rétbe hajtott) névjegyek, melyek plusz oldalai jó megoldást nyújtanak a cég és az általa forgalmazott márkák rövid bemutatására.</p>
			</div>

			<div>
				<h4>Eredmények</h4>
				<p>A tervezést követően a megrendelő számára átadásra került minden olyan, a márkát és annak képi illetve írott megjelenését meghatározó kötöttség - arculati kézikönyv formájában -, mely segítségével a felépített értékek és a rájuk vonatkozó szabályok egyszerűen és gyorsan továbbadhatóak egy harmadik fél számára.
				A képi elemek vektoros tervezése miatt ugyanazon forrásból minden nehézség nélkül megoldható egy több méteres molinó épp úgy, mint egy szórólap.
				A tervezést és boltnyitást követően keresőoptimalizálási és adwords hirdetési szolgáltatásunkkal próbáljuk egyengetni a márka útját.</p>
			</div>
		</div>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Logó">
		        <div data-src="/assets/portfolio/flairspring/logo-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/logo-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/flairspring/logo.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/flairspring/logo@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/logo-m.png"alt="Logó">
		        </noscript>
    		</div>
		</figure>
		<h3>Logó</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Logó inspiráció">
		        <div data-src="/assets/portfolio/flairspring/logo2-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/logo2-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/flairspring/logo2.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/flairspring/logo2@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/logo2-m.png"alt="Logó inspiráció">
		        </noscript>
    		</div>
		</figure>
		<h3>Logó inspiráció</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Logó arányok">
		        <div data-src="/assets/portfolio/flairspring/logo3-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/logo3-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/flairspring/logo3.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/flairspring/logo3@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/logo3-m.png"alt="Logó arányok">
		        </noscript>
    		</div>
		</figure>
		<h3>A logó arányai</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Logó színei">
		        <div data-src="/assets/portfolio/flairspring/colors-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/colors-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/flairspring/colors.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/flairspring/colors@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/colors-m.png"alt="Logó színei">
		        </noscript>
    		</div>
		</figure>
		<h3>A logó színsémája</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Tipográfia">
		        <div data-src="/assets/portfolio/flairspring/type-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/type-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/flairspring/type.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/flairspring/type@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/type-m.png"alt="Tipográfia">
		        </noscript>
    		</div>
		</figure>
		<h3>Tipográfia</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Névjegykártya">
		        <div data-src="/assets/portfolio/flairspring/card-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/card-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/flairspring/card.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/flairspring/card@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/card-m.png"alt="Névjegykártya">
		        </noscript>
    		</div>
		</figure>
		<h3>Névjegykártya</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Trifold">
		        <div data-src="/assets/portfolio/flairspring/trifold-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/trifold-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/flairspring/trifold.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/flairspring/trifold@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/trifold-m.png"alt="Trifold">
		        </noscript>
    		</div>
		</figure>
		<h3>Trifold névjegykártya</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Cégér">
		        <div data-src="/assets/portfolio/flairspring/store-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/store-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/flairspring/store.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/flairspring/store@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/store-m.png"alt="Cégér">
		        </noscript>
    		</div>
		</figure>
		<h3>Cégér</h3>
	</div>
</section>

<%= render 'common/like' %>