<section class="mid">
	<hgroup>
		<h2>Maform</h2>
		<h3>Reszponzív weboldal készítés</h3>
		<%= render "common/portfolio_nav" %>
	</hgroup>
	<div id="text">
		<div id="portfolio-image">
			<div class="img" data-picture data-alt="Reszponzív weboldal készítés">
		        <div data-src="/assets/portfolio/maform/project-m.png"></div>
		        <div data-src="/assets/portfolio/maform/project-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/maform/project.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/maform/project@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/maform/project-m.png" alt="Reszponzív weboldal készítés">
		        </noscript>
    		</div>
		</div>
		<div class="clearfix">
			<div>
				<h4>Megrendelő</h4>
				<p>Maform</p>
				<ul>
					<li>Weboldal készítés</li>
				</ul>
			</div>
			<div>
				<h4>A probléma</h4>
				<p>A Maform előző weboldala bár tetszetős volt, mégsem felelt meg a web mai igényeinek. Telefonokon és táblagépeken nem működött jól, mivel nem volt érintésre optimalizálva, így nehezen volt navigálható. Az arculatban történt változásokkal együtt ez már teljesen indokolttá tette az új <a href="/szemlelet" class="link">reszponzív weboldal</a> elkészítését.</p>
			</div>
			
			<div>
				<h4>A megoldás</h4>
				<p>Az információs hierarchia és az alapvető funkciók meghatározása után <a href="/szemlelet#mobile" class="link">szemléletünknek</a> megelelően a mobil nézet felől közelítettük meg a problémát. A navigációt minimálisra redukáltuk, így a valós tartalmat helyezve a középpontba. Ügyeltünk rá, hogy kellően nagy érintési felületet hagyjunk az interaktív elemeknek, valamint a tipográfiát is reszponzív módon kezeltük, így optimális olvasási élményt nyújtva minden eszközön. </p>
			</div>

			<div>
				<h4>Eredmények</h4>
				<p>Az elkészített weboldal jól tükrözi a Maform életében végbement változásokat, sokkal letisztultabb és egyszerűbb weboldalt hoztunk létre, ami teljesen reszponzív, felhasználóbarát és eszközfüggetlen. Mivel a portfólió képei reprezentálják legjobban a Maform munkáit, így a képek uralják a teret, amiket a retina felbontású kijelzőkre optimalizált változattokkal tettünk még lenyűgözőbbé. Az egyedileg fejlesztett adminisztrációs rendszerrel pedig a portfólió frissen tartására és az angol valamint a magyar tartalmak karbantartására is könnyen kezelhető felületet adtunk. </p>
			</div>
		</div>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Főoldal különbségek">
		        <div data-src="/assets/portfolio/maform/landing2-m.png"></div>
		        <div data-src="/assets/portfolio/maform/landing2-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/maform/landing2.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/maform/landing2@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/maform/landing2-m.png"alt="Főoldal különbségek">
		        </noscript>
    		</div>
		</figure>
		<h3>Logó facelift</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Kapcsolat különbségek">
		        <div data-src="/assets/portfolio/maform/contact-m.png"></div>
		        <div data-src="/assets/portfolio/maform/contact-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/maform/contact.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/maform/contact@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/maform/contact-m.png"alt="Kapcsolat különbségek">
		        </noscript>
    		</div>
		</figure>
		<h3>Kereső</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Portfólió oldal">
		        <div data-src="/assets/portfolio/maform/works-m.png"></div>
		        <div data-src="/assets/portfolio/maform/works-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/maform/works.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/maform/works@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/maform/works-m.png"alt="Portfólió oldal">
		        </noscript>
    		</div>
		</figure>
		<h3>Útleírás</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Részletes portfólió oldal">
		        <div data-src="/assets/portfolio/maform/bus-m.png"></div>
		        <div data-src="/assets/portfolio/maform/bus-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/maform/bus.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/maform/bus@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/maform/bus-m.png"alt="Portfólió oldal">
		        </noscript>
    		</div>
		</figure>
		<h3>Útleírás</h3>
	</div>
</section>

<%= render 'common/like' %>