<section class="mid">
	<hgroup>
		<h2>Flairpsring</h2>
		<h3>Arculat kialakítása a Flairspring lakberendezésnek</h3>
		<%= render "common/portfolio_nav" %>
	</hgroup>
	<div id="text">
		<div id="portfolio-image">
			<div class="img" data-picture data-alt="Arculattervezés - Flairspring">
		        <div data-src="/assets/portfolio/flairspring/project-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/project-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/flairspring/project.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/flairspring/project@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/project-m.png" alt="Arculattervezés - Flairspring">
		        </noscript>
    		</div>
		</div>
		<div class="clearfix">
			<div>
				<h4>Megrendelő</h4>
				<p>Flairpsring</p>
				<ul>
					<li>Arculattervezés</li>
				</ul>
			</div>
			<div>
				<h4>A probléma</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>
			
			<div>
				<h4>A megoldás</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>

			<div>
				<h4>Eredmények</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>
		</div>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Logó">
		        <div data-src="/assets/portfolio/flairspring/logo-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/logo-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/flairspring/logo.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/flairspring/logo@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/logo-m.png"alt="Logó">
		        </noscript>
    		</div>
		</figure>
		<h3>Logó</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Logó inspiráció">
		        <div data-src="/assets/portfolio/flairspring/logo2-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/logo2-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/flairspring/logo2.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/flairspring/logo2@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/logo2-m.png"alt="Logó inspiráció">
		        </noscript>
    		</div>
		</figure>
		<h3>Logó</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Logó arányok">
		        <div data-src="/assets/portfolio/flairspring/logo3-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/logo3-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/flairspring/logo3.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/flairspring/logo3@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/logo3-m.png"alt="Logó arányok">
		        </noscript>
    		</div>
		</figure>
		<h3>Logó</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Logó színei">
		        <div data-src="/assets/portfolio/flairspring/colors-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/colors-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/flairspring/colors.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/flairspring/colors@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/colors-m.png"alt="Logó színei">
		        </noscript>
    		</div>
		</figure>
		<h3>Logó</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Tipográfia">
		        <div data-src="/assets/portfolio/flairspring/type-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/type-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/flairspring/type.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/flairspring/type@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/type-m.png"alt="Tipográfia">
		        </noscript>
    		</div>
		</figure>
		<h3>Logó</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Névjegykártya">
		        <div data-src="/assets/portfolio/flairspring/card-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/card-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/flairspring/card.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/flairspring/card@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/card-m.png"alt="Névjegykártya">
		        </noscript>
    		</div>
		</figure>
		<h3>Névjegykártya</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Trifold">
		        <div data-src="/assets/portfolio/flairspring/trifold-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/trifold-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/flairspring/trifold.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/flairspring/trifold@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/trifold-m.png"alt="Trifold">
		        </noscript>
    		</div>
		</figure>
		<h3>Trifold névjegykártya</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Cégér">
		        <div data-src="/assets/portfolio/flairspring/store-m.png"></div>
		        <div data-src="/assets/portfolio/flairspring/store-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/flairspring/store.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/flairspring/store@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/flairspring/store-m.png"alt="Cégér">
		        </noscript>
    		</div>
		</figure>
		<h3>Boltfelirat</h3>
	</div>
</section>

<%= render 'common/like' %>