<section class="mid">
	<hgroup>
		<h2>Siklos Dental Stúdió</h2>
		<h3>Weboldalkészítés</h3>
		<%= render "common/portfolio_nav" %>
	</hgroup>
	<div id="text">
		<div id="portfolio-image">
			<div class="img" data-picture data-alt="Weboldalkészítés - Siklós Dental Studio">
		        <div data-src="/assets/portfolio/sds/project-m.png"></div>
		        <div data-src="/assets/portfolio/sds/project-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/sds/project.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/sds/project@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/sds/project-m.png"alt="Weboldalkészítés - Siklós Dental Studio">
		        </noscript>
    		</div>
		</div>
		<div class="clearfix">
			<div>
				<h4>Megrendelő</h4>
				<p>Siklós Dental Studió</p>
				<ul>
					<li>Arculattervezés</li>
				</ul>
			</div>
			<div>
				<h4>A feladat</h4>
				<p>Egy újonnan induló fogászat arculatának kialakítása valamint weboldalának tervezése és programozása volt a feladatunk.
Célunk volt, hogy a leendő ügyfelek minél egyszerűbben érhessék el a számukra fontos információkat.</p>
			</div>
			
			<div>
				<h4>A megoldás</h4>
				<p>A Siklós Dental arculatát úgy alakítottuk ki, hogy már első benyomásra is a rendelő magas színvonalát közvetítse. A világos színpaletta, a gyémánt motívum mind a tisztaságot és a profizmust sugallják. Az oldal kinézetét is ennek a kialakított arculatnak megfelelően alakítottuk ki, amely így tökéletesen illeszkedik az arculat további elemeihez. A beavatkozások eredményeit a weboldalon egy mosolygalériéban jelenítettük meg, amelyben egy képen láthatóak az eredmények, a beavatkozás előtti és utáni állapotok között egy csúszkával lehet váltani, így azonnal látható, hogy mi is történt.  </p>
			</div>

			<div>
				<h4>Eredmények</h4>
				<p>Az elkészült weboldal egyszerűen navigálható, minden fontos információ csupán 1-1 kattintásra helyezkedik el. Az oldalon működő kapcsolatfelvételi űrlap egyszerűsíti a kommunikációt a cég és az ügyfelek között. Az altatáshoz szükséges kérdéseket a páciensek a weboldalon keresztül, a kezelés előtt megválaszolhatják és az elkészült kérdőívet elmenthetik, illetve a kitöltött kérdőívek egy példánya minden esetben automatikusan a weboldal megrendelőjének email fiókjába kerül így könnyítve az adminisztrációt. </p>
			</div>
		</div>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Logó">
		        <div data-src="/assets/portfolio/sds/logo-m.png"></div>
		        <div data-src="/assets/portfolio/sds/logo-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/sds/logo.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/sds/logo@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/sds/logo-m.png"alt="Logó">
		        </noscript>
    		</div>
		</figure>
		<h3>Logó és névjegykártya</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Rólunk oldal">
		        <div data-src="/assets/portfolio/sds/about-m.png"></div>
		        <div data-src="/assets/portfolio/sds/about-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/sds/about.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/sds/about@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/sds/about-m.png"alt="Rólunk oldal">
		        </noscript>
    		</div>
		</figure>
		<h3>Rólunk oldal</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Rólunk oldal">
		        <div data-src="/assets/portfolio/sds/landing-m.png"></div>
		        <div data-src="/assets/portfolio/sds/landing-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/sds/landing.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/sds/landing@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/sds/landing-m.png"alt="Rólunk oldal">
		        </noscript>
    		</div>
		</figure>
		<h3>Főoldal</h3>
	</div>
</section>

<%= render 'common/like' %>