<section class="mid">
	<hgroup>
		<h2>Ewutazás</h2>
		<h3>Weboldal készítés és logó ráncfelcvarrás</h3>
		<%= render "common/portfolio_nav" %>
	</hgroup>
	<div id="text">
		<div id="portfolio-image">
			<div class="img" data-picture data-alt="Weboldal készítés - East-West">
		        <div data-src="/assets/portfolio/ew/project-m.png"></div>
		        <div data-src="/assets/portfolio/ew/project-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/ew/project.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/ew/project@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/ew/project-m.png" alt="Weboldal készítés - East-West">
		        </noscript>
    		</div>
		</div>
		<div class="clearfix">
			<div>
				<h4>Megrendelő</h4>
				<p>East-West</p>
				<ul>
					<li>Weboldal készítés</li>
					<li>Logó ráncfelvarrás</li>
				</ul>
			</div>
			<div>
				<h4>A probléma</h4>
				<p>Az East-West utazási iroda elégedetlen volt eddigi megjelenésével és honlapjával.
				A meglévő weboldal nehezen volt navigálható és szűrhető, a tartalmakat bonyolult volt frissíteni. A tervek között szerepelt továbbá egy automatizált frissítéseket nyújtó szolgáltatás integrálása is.</p>
			</div>
			
			<div>
				<h4>A megoldás</h4>
				<p>A frissítéseket nyújtó webes szolgáltatás során feldolgozott adatok előre meghatározott struktúrában érkeztek, ehhez kellet igazítani az adatbázist. Mivel több ezer út, több száz változatát kellett kereshetővé tenni optimális sebességgel egy osztott tárhelyen, így kiemelt figyelmet kellett fordítanunk az adatbázis kialakításának. A maximális felhasználói élmény elérése érdekében szükséges volt, hogy a megjelenő utak kategóriákon belül szűrhetőek legyenek a legfontosabb tulajdonságaik alapján és a kapott lista a felhasználó számára rendezhető legyen.</p>
			</div>

			<div>
				<h4>Eredmények</h4>
				<p>Az elkészült weboldal vizuálisan sokkal barátságosabb, emellett egyszerűbben kezelhető, mint a régi oldal.
				Komoly előrelépés, hogy az elkészített oldal - az automatikus frissítési szolgáltatás igénybevétele miatt - külső kezelő beavatkozása nélkül naponta a legfrissebb útkínálatot jeleníti meg. A megrendelőnek kizárólag akkor kell bármit is tennie, ha egyedi utakat kíván felvinni az adminisztrációs felületen keresztül vagy a weboldal által küldött automatikus emailben értesül egy megrendelésről.</p>
			</div>
		</div>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Logó ráncfelvarrás">
		        <div data-src="/assets/portfolio/ew/logo-m.png"></div>
		        <div data-src="/assets/portfolio/ew/logo-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/ew/logo.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/ew/logo@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/ew/logo-m.png"alt="Logó ráncfelvarrás">
		        </noscript>
    		</div>
		</figure>
		<h3>Logó ráncfelvarrás</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Kereső felület">
		        <div data-src="/assets/portfolio/ew/list-m.png"></div>
		        <div data-src="/assets/portfolio/ew/list-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/ew/list.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/ew/list@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/ew/list-m.png"alt="Kereső felület">
		        </noscript>
    		</div>
		</figure>
		<h3>Útkereső felület</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Útleírás">
		        <div data-src="/assets/portfolio/ew/trip-m.png"></div>
		        <div data-src="/assets/portfolio/ew/trip-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/ew/trip.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/ew/trip@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/ew/trip-m.png"alt="Útleírás">
		        </noscript>
    		</div>
		</figure>
		<h3>Útleírás oldal</h3>
	</div>
</section>

<%= render 'common/like' %>