<section class="mid">
	<hgroup>
		<h2>Tenderfigyelő</h2>
		<h3>Webalkalmazás fejlesztés</h3>
		<%= render "common/portfolio_nav" %>
	</hgroup>
	<div id="text">
		<div id="portfolio-image">
			<div class="img" data-picture data-alt="Webalkalmazás fejlesztés - Tenderfigyelő">
		        <div data-src="/assets/portfolio/tender/project-m.png"></div>
		        <div data-src="/assets/portfolio/tender/project-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/tender/project.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/tender/project@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/tender/project-m.png"alt="Webalkalmazás fejlesztés - Tenderfigyelő">
		        </noscript>
    		</div>
		</div>
		<div class="clearfix">
			<div>
				<h4>Megrendelő</h4>
				<p>Tenderfigyelő</p>
				<ul>
					<li>Webalkalmazás fejlesztés</li>
				</ul>
			</div>
			<div>
				<h4>A probléma</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>
			
			<div>
				<h4>A megoldás</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>

			<div>
				<h4>Eredmények</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>
		</div>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Főoldal">
		        <div data-src="/assets/portfolio/tender/landing-m.png"></div>
		        <div data-src="/assets/portfolio/tender/landing-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/tender/landing.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/tender/landing@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/tender/landing-m.png"alt="Főoldal">
		        </noscript>
    		</div>
		</figure>
		<h3>Logó</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Email">
		        <div data-src="/assets/portfolio/tender/email-m.png"></div>
		        <div data-src="/assets/portfolio/tender/email-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/tender/email.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/tender/email@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/tender/email-m.png"alt="Email">
		        </noscript>
    		</div>
		</figure>
		<h3>Névjegykártya</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Adminisztrációs felület">
		        <div data-src="/assets/portfolio/tender/admin-m.png"></div>
		        <div data-src="/assets/portfolio/tender/admin-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/tender/admin.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/tender/admin@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/tender/admin-m.png"alt="Adminisztrációs felület">
		        </noscript>
    		</div>
		</figure>
		<h3>Trifold névjegykártya</h3>
	</div>
</section>

<%= render 'common/like' %>