<section class="mid">
	<hgroup>
		<h2>Maform</h2>
		<h3>Reszponzív weboldal készítés</h3>
		<%= render "common/portfolio_nav" %>
	</hgroup>
	<div id="text">
		<div id="portfolio-image">
			<div class="img" data-picture data-alt="Reszponzív weboldal készítés">
		        <div data-src="/assets/portfolio/maform/project-m.png"></div>
		        <div data-src="/assets/portfolio/maform/project-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/maform/project.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/maform/project@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/maform/project-m.png" alt="Reszponzív weboldal készítés">
		        </noscript>
    		</div>
		</div>
		<div class="clearfix">
			<div>
				<h4>Megrendelő</h4>
				<p>Maform</p>
				<ul>
					<li>Weboldal készítés</li>
				</ul>
			</div>
			<div>
				<h4>A probléma</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>
			
			<div>
				<h4>A megoldás</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>

			<div>
				<h4>Eredmények</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
			</div>
		</div>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Főoldal különbségek">
		        <div data-src="/assets/portfolio/maform/landing2-m.png"></div>
		        <div data-src="/assets/portfolio/maform/landing2-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/maform/landing2.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/maform/landing2@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/maform/landing2-m.png"alt="Főoldal különbségek">
		        </noscript>
    		</div>
		</figure>
		<h3>Logó facelift</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Kapcsolat különbségek">
		        <div data-src="/assets/portfolio/maform/contact-m.png"></div>
		        <div data-src="/assets/portfolio/maform/contact-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/maform/contact.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/maform/contact@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/maform/contact-m.png"alt="Kapcsolat különbségek">
		        </noscript>
    		</div>
		</figure>
		<h3>Kereső</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Portfólió oldal">
		        <div data-src="/assets/portfolio/maform/works-m.png"></div>
		        <div data-src="/assets/portfolio/maform/works-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/maform/works.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/maform/works@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/maform/works-m.png"alt="Portfólió oldal">
		        </noscript>
    		</div>
		</figure>
		<h3>Útleírás</h3>
	</div>
</section>

<%= render 'common/like' %>