<section class="mid">
	<hgroup>
		<h2>Tenderfigyelő</h2>
		<h3>Webalkalmazás fejlesztés</h3>
		<%= render "common/portfolio_nav" %>
	</hgroup>
	<div id="text">
		<div id="portfolio-image">
			<div class="img" data-picture data-alt="Webalkalmazás fejlesztés - Tenderfigyelő">
		        <div data-src="/assets/portfolio/tender/project-m.png"></div>
		        <div data-src="/assets/portfolio/tender/project-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/tender/project.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/tender/project@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/tender/project-m.png"alt="Webalkalmazás fejlesztés - Tenderfigyelő">
		        </noscript>
    		</div>
		</div>
		<div class="clearfix">
			<div>
				<h4>Megrendelő</h4>
				<p>Tenderfigyelő</p>
				<ul>
					<li>Webalkalmazás fejlesztés</li>
				</ul>
			</div>
			<div>
				<h4>A feladat</h4>
				<p>A feladat egy olyan web-alapú rendszer létrehozása volt, mely személyre szabottan leválogatja és elküldi a felhasználók részére a közbeszerzési eljárásban kiírt tendereket. Egy egyszerű, informatív publikus oldal mellé szükség volt egy olyan adminisztrációs háttérre, ahol a lehető legkisebb hozzáértéssel, néhány kattintással beállíthatóak a kívánt szűrési feltételek és a kapcsolattartáshoz szükséges adatok.</p>
			</div>
			
			<div>
				<h4>A megoldás</h4>
				<p>A feladat végrehajtásához automatizálni kellett a tenderek beolvasását és az emailek kiküldését, az eredményeket adatbázisban tárolni.
Mivel egyedileg testre szabott eredmények érkeznek mindenkihez, 14 napos időszakban csökkentett paraméterszámmal próba verzió használatára adtunk lehetőséget. Kezelni kellett a próba verzióból teljes jogú ügyféllé váló felhasználókat.
Az egyediséghez hozzájárult, hogy az arculathoz illő email sablonok kerültek tervezésre.</p>
			</div>

			<div>
				<h4>Eredmények</h4>
				<p>Az eredmény egy teljesen automatikus rendszer, amely kezeli a felhasználók hozzáférési szintjeit, a meghatározott időszakokban automatikusan megkeresi és leválogatja a beállításoknak megfelelő adatokat, majd ezeket email formájában továbbítja a regisztrált felhasználóknak.</p>
			</div>
		</div>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Főoldal">
		        <div data-src="/assets/portfolio/tender/landing-m.png"></div>
		        <div data-src="/assets/portfolio/tender/landing-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/tender/landing.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/tender/landing@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/tender/landing-m.png"alt="Főoldal">
		        </noscript>
    		</div>
		</figure>
		<h3>Főoldal</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Email">
		        <div data-src="/assets/portfolio/tender/email-m.png"></div>
		        <div data-src="/assets/portfolio/tender/email-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/tender/email.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/tender/email@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/tender/email-m.png"alt="Email">
		        </noscript>
    		</div>
		</figure>
		<h3>Email design</h3>
	</div>
	<div class="portfolio-el">
		<figure>
			<div class="img" data-picture data-alt="Adminisztrációs felület">
		        <div data-src="/assets/portfolio/tender/admin-m.png"></div>
		        <div data-src="/assets/portfolio/tender/admin-m@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
		        <div data-src="/assets/portfolio/tender/admin.png" data-media="(min-width: 767px)"></div>
		        <div data-src="/assets/portfolio/tender/admin@2x.png" data-media="(min-width: 767px) and (min-device-pixel-ratio: 2.0)"></div>
		        <noscript>
		            <img src="/assets/portfolio/tender/admin-m.png"alt="Adminisztrációs felület">
		        </noscript>
    		</div>
		</figure>
		<h3>Adminisztrációs felület</h3>
	</div>
</section>

<%= render 'common/like' %>