<section class="mid">
	<hgroup>
		<h2>Rólunk</h2>
		<h3>Ha akarod, ha nem most megismersz</h3>
	</hgroup>
</section>

<div class="person">
	<div class="mid clearfix">
		<div class="side">
			<%= image_tag "rams.png" %>
		</div>
		<div class="text">
			<h4>Pap Norbert</h4>
			<h5>Boss</h5>
			<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
		</div>
	</div>
</div>


<%= render 'common/team' %>
