<section class="mid">
	<hgroup>
		<h2>Rólunk</h2>
		<h3>Az emberek az elefánt mögött</h3>
	</hgroup>
</section>

<div class="person">
	<div class="mid clearfix">
		<div class="side">
			<div data-picture data-alt="Pap Norbert - Front-end fejlesztő">
			<div data-src="/assets/upload.png"></div>
			<div data-src="/assets/upload@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
			<noscript>
				<img src="/assets/upload.png" alt="Pap Norbert - Front-end fejlesztő">
			</noscript>
		</div>
		</div>
		<div class="text">
			<h4>Pap Norbert</h4>
			<h5>Front-end fejlesztő</h5>
			<p>Norbi egy fiatal, megszállott fejlesztő, aki a szabványos weboldal készítés elkötelezett híve. A kódolás mellett az információs hierarchia és a tartalmi stratégia is átfut kezei alatt. Ha épp nem a MacBook-ja előtt ül, akkor a következő MacBook-járól álmodozik biciklizés közben, vagy egy antikváriumban keresgél.</p>
			<p><strong>Email:</strong> <a href="mailto:norbert.pap@pixelephant.hu" class="link">norbert.pap@pixelephant.hu</a></p>
			<p>
				<div class="like" data-class="like" data-picture data-alt="Apple">
					<div data-src="/assets/norbi-apple.png"></div>
					<div data-src="/assets/norbi-apple@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/norbi-apple.png" alt="Apple">
					</noscript>
				</div>
				<div class="like" data-class="like" data-picture data-alt="Biciklizés">
					<div data-src="/assets/norbi-bike.png"></div>
					<div data-src="/assets/norbi-bike@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/norbi-bike.png" alt="Biciklizés">
					</noscript>
				</div>
				<div class="like" data-class="like" data-picture data-alt="Olvasás">
					<div data-src="/assets/norbi-book.png"></div>
					<div data-src="/assets/norbi-book@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/norbi-book.png" alt="Olvasás">
					</noscript>
				</div>
			</p>	
		</div>
	</div>
</div>

<div class="person">
	<div class="mid clearfix">
		<div class="side">
			<div data-picture data-alt="Antal Balázs - Back-end fejlesztő">
			<div data-src="/assets/upload.png"></div>
			<div data-src="/assets/upload@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
			<noscript>
				<img src="/assets/upload.png" alt="Antal Balázs - Back-end fejlesztő">
			</noscript>
		</div>
		</div>
		<div class="text">
			<h4>Antal Balázs</h4>
			<h5>Back-end fejlesztő</h5>
			<p>Balázs ideje nagy részét az iroda egy távoli szegletében tölti a terminal és az adatbázisok társaságában. Neki köszönhetően az elkészített oldalak nem pusztán szépek, de működnek is. Ha épp nem a kódokat bűvöli, játsza vagy nézi a focit - igen, akár magyar bajnokit is -, vagy különböző rövidítésekkel szórakozik (FIFA, PS3, COD, GRFS).</p>
			<p><strong>Email:</strong> <a href="mailto:balazs.antal@pixelephant.hu" class="link">balazs.antal@pixelephant.hu</a></p>
			<p>
				<div class="like" data-class="like" data-picture data-alt="Gasztronómia">
					<div data-src="/assets/balazs-cook.png"></div>
					<div data-src="/assets/balazs-cook@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/balazs-cook.png" alt="Gasztronómia">
					</noscript>
				</div>
				<div class="like" data-class="like" data-picture data-alt="Football">
					<div data-src="/assets/balazs-football.png"></div>
					<div data-src="/assets/balazs-football@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/balazs-football.png" alt="Football">
					</noscript>
				</div>
				<div class="like" data-class="like" data-picture data-alt="PS3">
					<div data-src="/assets/balazs-playstation.png"></div>
					<div data-src="/assets/balazs-playstation@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/balazs-playstation.png" alt="PS3">
					</noscript>
				</div>
			</p>	
		</div>
	</div>
</div>

<div class="person">
	<div class="mid clearfix">
		<div class="side">
			<div data-picture data-alt="Oláh Róbert - Designer">
			<div data-src="/assets/upload.png"></div>
			<div data-src="/assets/upload@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
			<noscript>
				<img src="/assets/upload.png" alt="Oláh Róbert - Designer">
			</noscript>
		</div>
		</div>
		<div class="text">
			<h4>Oláh Róbert</h4>
			<h5>Designer</h5>
			<p>Robi egy lendületes és sokrétű designer aki előszeretettel használ digitális és hagyományos technikákat is. Weboldalak készítése mellett sokféle grafikai tervezésben is otthonosan mozog. Ha épp nem a Manchester Unitednek szurkol a tv előtt, akkor a skicckönyvébe firkál.</p>
			<p><strong>Email:</strong> <a href="mailto:robert.olah@pixelephant.hu" class="link">robert.olah@pixelephant.hu</a></p>
			<p>
				<div class="like" data-class="like" data-picture data-alt="Zene">
					<div data-src="/assets/robi-music.png"></div>
					<div data-src="/assets/robi-music@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/robi-music.png" alt="Zene">
					</noscript>
				</div>
				<div class="like" data-class="like" data-picture data-alt="Coca-Cola">
					<div data-src="/assets/robi-cola.png"></div>
					<div data-src="/assets/robi-cola@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/robi-cola.png" alt="Coca-Cola">
					</noscript>
				</div>
				<div class="like" data-class="like" data-picture data-alt="Fotózás">
					<div data-src="/assets/robi-camera.png"></div>
					<div data-src="/assets/robi-camera@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/robi-camera.png" alt="Fotózás">
					</noscript>
				</div>
			</p>	
		</div>
	</div>
</div>

<div class="person">
	<div class="mid clearfix">
		<div class="side">
			<div data-picture data-alt="Molnár Péter - Designer">
			<div data-src="/assets/upload.png"></div>
			<div data-src="/assets/upload@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
			<noscript>
				<img src="/assets/upload.png" alt="Molnár Péter - Designer">
			</noscript>
		</div>
		</div>
		<div class="text">
			<h4>Molnár Péter</h4>
			<h5>Designer</h5>
			<p>Peti elszánt és idealista grafikus formatervező, mellesleg fiatal házas. Amikor épp nem az Illustratort bújja, fantasztikus humorérzékét csillogtatva szórakoztatja a többieket, vagy koncertélményeiről mesél.</p>
			<p><strong>Email:</strong> <a href="mailto:peter.molnar@pixelephant.hu" class="link">peter.molnar@pixelephant.hu</a></p>
			<p>
				<div class="like" data-class="like" data-picture data-alt="Rajzolás">
					<div data-src="/assets/peti-marker.png"></div>
					<div data-src="/assets/peti-marker@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/peti-marker.png" alt="Rajzolás">
					</noscript>
				</div>
				<div class="like" data-class="like" data-picture data-alt="Macskák">
					<div data-src="/assets/peti-cat.png"></div>
					<div data-src="/assets/peti-cat@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/peti-cat.png" alt="Macskák">
					</noscript>
				</div>
				<div class="like" data-class="like" data-picture data-alt="Gitározás">
					<div data-src="/assets/peti-guitar.png"></div>
					<div data-src="/assets/peti-guitar@2x.png" data-media="(min-device-pixel-ratio: 2.0)"></div>
					<noscript>
						<img src="/assets/peti-guitar.png" alt="Gitározás">
					</noscript>
				</div>
			</p>	
		</div>
	</div>
</div>

<%= render 'common/team' %>
