@import '_mixins.css.scss';



.person{
	.like{
		display:inline-block;
	}

	&:nth-child(odd){
		background:$bg-gray;
		border:1px solid $border-gray;
	}
	padding:5%;
	
	.side{
		max-width:50%;
		margin:30px auto 0 auto;
	}
	h4{
		@include font-nb;
		font-weight:normal;
		margin-bottom:0;
	}
	h5{
		font-family: 'gi';
		color:$blue;
		font-weight:normal;
		margin-top:0;
	}
}

 @media (min-width: 768px){
  	.side{
		width:25%;
		float:left;
		margin-right:5% !important;
		margin-top:5%;
	}
	.text{
		float:left;
		width:60%;
	}
  }