@import '_mixins.css.scss';

.person{
	padding:0 5%;
	.text{
		float:left;
		width:60%;
	}
	.side{
		width:25%;
		float:left;
		margin-right:5%;
		margin-top:5%;
	}
	h4{
		@include font-nb;
		font-weight:normal;
		margin-bottom:0;
	}
	h5{
		font-family: 'gi';
		color:$blue;
		font-weight:normal;
		margin-top:0;
	}
}