@import '_mixins.css.scss';
@import '_bounce.css.scss';

#contact-cta{
	margin-top:30px !important;
}

.mobile2{
	margin-top:0 !important;
}

#welcome{
	margin-top:20px;
	text-align:center;	
	overflow:hidden;
	h2{
		@include font-n;
		font-size:1.5625em;
		color:$purple;
		text-shadow:2px 2px 0px #dfdfdf;
		margin:0;
	}
	h3{
		@include font-nb;
		font-size:2.75em;
		color:$purple;
		text-shadow:2px 2px 0px #dfdfdf;
		margin:0;
		height:50px;
	}
	.rw-words{
		display:block;
		.w{
			display:none;
			&:first-child{
				display:inline;
			}
		}
	}
	a{
		color:$blue;
		font-family:gi;
		font-size:1em;
	}
	p{
		text-align:center;

	}
}


#services{
	color:$black;
	overflow:hidden;
	h4{
		@include font-nb;
		font-size:0.9375em;
		padding-left:60px;
		height:50px;
		line-height:50px;
	}
	p{
		font-size:0.875em;
		line-height:1.5;
	}
	.cta{
		margin:30px 0;
		text-align:center;
	}
	.clearfix{
		padding-top:30px;
	}
}

#webdesign h4{
	@include at2x(icon_webo,50px,50px);
	background-position:center left;
}

#webapps h4{
	@include at2x(icon_weba,50px,50px);
	background-position:center left;
}

#webmarketing h4{
	@include at2x(icon_webm,50px,50px);
	background-position:center left;
}

#corp h4{
	@include at2x(icon_arculat,50px,50px);
	background-position:center left;
}

#portfolio{
	border-bottom:1px solid $border-gray;
	@include portfolio-style;
	.cta{
		text-align:center;
		margin:60px 0 70px 0;
		position:relative;
		z-index:2;
	}
}

#work{
	figure{
		margin-top:5%;
	}
	.cta{
		margin-bottom:45px !important;
	}
}

#portfolio p{

		font-size:0.875em;
		line-height:1.5;
	
}

#work,#method{
	p{
		font-size:0.875em;
		line-height:1.5;
	}
.text,figure{
		width:50%;
		float:left;
	}
	.text{
		margin-top:5%;
		padding-left:3%;
		width:47%;
	}
	figure{
		position:relative;
	}
	figure img{
		max-width:100%;
		&.animated{
			position:absolute;
		}
	}
	.cta{
		text-align:center;
		margin:30px 0;
		position:relative;
		z-index:2;
	}
}

#research-green{
	top:28%;
	left:60%;
	max-width:60px !important;
}

#research-yellow{
	top:0%;
	left:45%;
	max-width:60px !important;
}

#research-orange{
	top:60%;
	left:45%;
	max-width:60px !important;
}

#research-red{
	top:24%;
	left:28%;
	max-width:60px !important;
}

.p-el:first-child{
	margin-top:0 !important;
}

.study{
	h4{
		.plus{
			color:$orange;
		}
		em{
			font-family: gi;
			color:$blue;
			font-size: 0.95em;
			text-transform:none;
		}
	}

}

.s-el{
	text-decoration:none;
 	color:$black;
 	display:block;
}

#method{
	border-bottom:1px solid $border-gray;
	figure{
		
	}
	.cta{
		margin-bottom:45px;
	}
}

/* Landscape phones and down */
  @media (max-width: 480px) {
  	#work .text,#method .text{
  		margin-top:40px;
  	}
  	#welcome h3{
  		font-size:2em;
  	}
  }

  @media (min-width:479px){
  	
	
  }

@media (max-width: 767px) {

	#work,#method{
		figure,.text{
			width:100% !important;
			float:none !important;
		}
		.text{
			width:97% !important;
			padding-left:3%;
		}
		figure{
			text-align:center;
		}
		img{
			margin:0 auto;
			max-width:550px;
		}
	}
	.s-el{
 		width:97%;
 		padding-left:3%;
 	}	
 }

/* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 979px) {

  	.p-el{
  			width:48%;
  			float:left;
  			&:first-child{
  				width:100%;
  				float:none;
  			}
  			&:nth-child(2){
  				margin-right:4%;
  			}
  		}
  }

@media (min-width: 979px) and (max-width: 1399px){

}

@media (min-width: 768px) and (max-width: 1399px), (min-width: 1400px){

.p-el .title{
        padding:0 !important;
      }

#work p,#method p{
	font-size:1em !important;
}

.p-el{
  			width:48%;
  			float:left;
  			&:first-child{
  				width:100%;
  				float:none;
  			}
  			&:nth-child(2){
  				margin-right:4%;
  			}
  		}


.s-el{
  		width:48%;
  		float:left;
  		&:nth-child(odd){
  			margin-right:4%;
  		}
  	}

#portfolio{
  		
 }

#logo{
	float:left;
	width:40% !important;
	h1{
		width:100% !important;
	}
}

.no-touch .cssanimations{
	#welcome{
	a{
		display:none;
	}
	float:left;
	margin:0;
	width:60%;
}


.rw-words{
	width:100%;
	height:100%;
	position:relative;
	display: inline;
	.w{
		display:inline !important;
		width:100%;
		text-align:center;
	}
}
.rw-words-1 .w{
	position: absolute;
	left:0;
	opacity: 0;
	overflow: hidden;
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-moz-animation: rotateWord 18s linear infinite 0s;
	-o-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
}
.rw-words-1 .w:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-moz-animation-delay: 3s; 
	-o-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s;
	color:$blue; 
}
.rw-words-1 .w:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-moz-animation-delay: 6s; 
	-o-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	color:$orange;
}
.rw-words-1 .w:nth-child(4) { 
    -webkit-animation-delay: 9s;
	-moz-animation-delay: 9s; 
	-o-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
	color:$red;
}

.rw-words-1 .w:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-moz-animation-delay: 12s; 
	-o-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
	color:$purple;
}
.rw-words-1 .w:nth-child(6) { 
    -webkit-animation-delay: 15s;
	-moz-animation-delay: 15s; 
	-o-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
	color:$green;
}
}



@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-moz-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -moz-transform: translateY(-30px); }
	5% { opacity: 1; -moz-transform: translateY(0px);}
    17% { opacity: 1; -moz-transform: translateY(0px); }
	20% { opacity: 0; -moz-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-o-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -o-transform: translateY(-30px); }
	5% { opacity: 1; -o-transform: translateY(0px);}
    17% { opacity: 1; -o-transform: translateY(0px); }
	20% { opacity: 0; -o-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; transform: translateY(-30px); }
	5% { opacity: 1; transform: translateY(0px);}
    17% { opacity: 1; transform: translateY(0px); }
	20% { opacity: 0; transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
}