@import '_mixins.css.scss';
@import '_bounce.css.scss';

#contact-cta{
	margin-top:0;
}

#pitch{
	padding:40px 20px;
	
	border-bottom:1px solid $border-gray;
	padding-bottom:0;
	h3{
		color:$blue;
		text-align:center;
		font-family:gi;
		font-size:1.5em;
	}
}

figure{
		position:relative;
		text-align:center;
	img{
		text-align:center;
		&.animated{
			position:absolute;

		}
	}
}

#heart-green{
	max-width:20%;
	top:25%;
	left:40%;
}

#heart-yellow{
	max-width:20%;
	left:25%;
	top:60%;
}

#heart-orange{
	max-width:20%;
	left:75%;
	top:45%;
}

#test{
	background:$bg-gray;
	border:1px solid $border-gray;
	.mid{
		padding:40px 20px;
	}
	.clearfix{
		margin-top:10px;
		width:96%;
		padding:0 2%;
	}
	p{
		
	}
	form{
		width:100%;
		margin:0 auto;
	}
	h5{
		color:$blue;
		text-align:center;
		font-family:gi;
		font-size:1.5em;
	}
	input[type="url"]{
		border:none;
		padding:0;
		margin:0;
		border:1px solid $border-gray;
		height:24px;
		background:#fff;
		@include border-radius(3px);
		font-family:Helvetica;
		font-size:1em;
		color:$darkgray;
		padding:3px 2%;
		width:96%;
	}
	input[type="radio"]{
		margin-left:10px;
	}
	label{
		float:left;
		margin-right:20px;
		display:block;
		@include font-nb;
		color:$black;
		text-transform:uppercase;
		font-size:0.875em;
		display:block;
		margin-bottom:10px;
	}
	input[type="submit"]{
		@include blue-pill;
	}
}

#try{
	padding:10px 0;
	text-align:center;
	h3{
		color:$blue;
		text-align:center;
		font-family:gi;
		font-size:1.2em;
		margin-top:0;
	}
	img{
		cursor:pointer;
		position:relative;
		@include t-04;
		
		&:hover,&:focus{
			top:-1px;
		}
		&:active{
			top:1px;
		}
	}
}

.touch{
	#try,#tryp,#test{
		display:none;
	}

}

#resp,#lead,#mobile{
	padding: 40px 20px;
}

#resp,#mobile{
	.clearfix{
		figure{
			margin:0 auto;
			text-align:center;
			h5{
				margin-top:0;
			}
		}
	}
}

#price{
	border:1px solid $border-gray;
	background:$bg-gray;
	padding-top:20px;
	padding-bottom:20px;
	.mid{
		padding: 40px 20px;
	}
}

#main{
p{
	line-height:1.5;
}
	h4{
	@include font-nb;
}

h5{
		font-family: gi;
		font-weight:normal;
		font-size:1.2em;
	}

	ul{
		overflow:hidden;
		li{
			list-style-position:inside;
			font-size:0.9em;
			width:100%;
			line-height:2;
		}
	}
}

@media (min-width: 980px){
	#resp{
		.clearfix{
			#try,p{
				width:50%;
				float:left;
			}
		}
	}
	#mobile{
		.clearfix{
			p,figure{
				width:45%;
				float:left;
			}
			p{
				margin-right:10%;
			}
		}
	}
	
}

@media (max-width: 480px) {
  .pron{
  	display: block;
  }
 }

@media (max-width: 767px) {
	#heart-green{
		max-width:10%;
	}

	#heart-yellow{
		max-width:10%;
	}

	#heart-orange{
		max-width:10%;
	}  
}

@media (min-width: 768px) and (max-width: 1399px), (min-width: 1400px){
	#test{
		form{
			width:50%;
			margin:0 auto;
		}
	}

	#lead{
		overflow:hidden;
		p{
			width:46%;
			float: left;
		}
	}

}