@import '_mixins.css.scss';

#portfolio-grid{
	width:100%;
	overflow:hidden;
	min-height:60px;
	@include portfolio-style;
	margin-top:4%;
}


/* Landscape phones and down */
  @media (max-width: 480px) {
  	#portfolio-grid{
  		margin-top:8%;
  	}
  }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1399px), (min-width: 1400px){
  	.p-el{
  			margin-bottom:4%;
  			width:48%;
  			float:left;
  			&:nth-child(odd){
  				margin-right:4%;
  			}
  		}
  }

  @media (min-width: 1400px) {
  .p-el{
  			margin-bottom:4%;
  			margin-right:4%;
  			width:22%;
  			float:left;
  			&:nth-child(odd){
  				margin-right:4%;
  			}
  			&:nth-child(4n){
  				margin-right:0;
  			}
  		}
  }

