@import '_mixins.css.scss';

#contact-cta{
	margin:0;
}

.side{
	display:block;
	img{
		margin:0 auto;
		display:block;
	}
}

.service{
	.mid{
		padding:40px 20px;
	}
	ul{
		overflow:hidden;
		li{
			list-style-position:inside;
			font-size:0.9em;
			width:100%;
			line-height:2;
		}
	}
	h4{
		height:50px;
		line-height:50px;
		@include font-nb;
		background-position:center left !important;
		padding-left:60px
	}
	h5{
		font-family: gi;
		font-weight:normal;
		height:32px;
		line-height:32px;
		img{
			vertical-align:bottom;
			margin-right:5px;
		}
		div{
			display:inline;
		}
	}
	blockquote{
		
		width:50%;
		margin:0 auto;
		overflow:hidden;
		font-family:gi;
			color:$lightgray;
		p{
			display:block;
			margin-bottom:0;
		}
		span{
			float:right;

		}
	}
	
}

#weboldal h4{
	@include at2x(icon_webo,50px,50px);
}

#webalk h4{
	@include at2x(icon_weba,50px,50px);
}

#webmark h4{
	@include at2x(icon_webm,50px,50px);
}

#arculat h4{
	@include at2x(icon_arculat,50px,50px);
}

#dieter{
	margin-bottom:20px;
	display:none;
	h5{
		margin-top:0;
		margin-bottom:20px;
	}
	ul{
		width:80%;
		float:left;
	}
	img{
		width:20%;
		float:left;
		max-width:150px;
	}

}

.extrawrap .mid{
	padding-top:0;
}

@media (max-width: 480px) {
  	.service li{
  		float:none !important;
  		width:100%;
  	}
  	#dieter{
  		ul{
  			width:70%;
  		}
  		img{
  			width:30%;
  		}
  	}
  }


  



  @media (min-width: 768px) and (max-width: 1399px), (min-width: 1400px){
 

  	.service li{
  		width:50% !important;
  		float:left;
  	}
  }

  @media (min-width: 768px){
  	.extra{
  		width:45%;
  		float:left;
  		&:nth-child(odd){
  			margin-right:10%;
  		}
  	}
  }

  @media (min-width: 1400px) {
  	.service li{
  		width:33.3333333% !important;
  	}
  }
@media (min-width: 1200px) {
	

}