@import '_mixins.css.scss';

#contact-cta{
	margin:0;
}


.step{
	&:nth-child(3),&:nth-child(6),&:nth-child(8){
		border:1px solid $border-gray;
		background: $bg-gray;
	}
	h4{
		height:50px;
		line-height:50px;
		@include font-nb;
	}
	.mid{
		padding:40px 20px;
	}

	.text,figure{
		width:50%;
		float:left;
	}
	figure img{
		max-width:100%;
	}
}

#proposal figure{
	//height:400px;
	//@include at2x(enquiry,400px,400px,".jpg");
}