<section id="contact-cta">
	<h4>Oldala nem az igazi mobilon?bilon?</h4>
	<p>A Pixelephant weboldalai minden eszközön nagyszerűen működnek, legyen az mobil, táblagép vagy bármi más! <a href="/method">Nézze meg hogyan csináljuk!</a></p>
</section>