<section id="contact-cta" class="mobile2">
	<h4>Mobil weboldalon gondolkodik?</h4>
	<p>A Pixelephant weboldalai minden eszközön nagyszerűen működnek, legyen az mobil, tablet vagy bármi más! <a href="/method">Nézze meg, hogyan csináljuk!</a></p>
</section>