<section id="contact-cta">
	<h4>Oldala nem az igazi mobilon?</h4>
	<p>A Pixelephant weboldalai minden eszközön nagyszerűen működnek, legyen az mobil, tablet vagy bármi más! <a href="/method">Nézze meg hogyan csináljuk!</a></p>
</section>