<nav id="portfolio-nav">
	<a href="/portfolio/<%= @prev %>" class="control left"><span class="link"><%= PORTFOLIO_ITEMS[@prev]['name'] %></span></a>
	<a href="/portfolio" class="control grid"><span class="link">Összes</span></a>
	<a href="/portfolio/<%= @next %>" class="control right"><span class="link"><%= PORTFOLIO_ITEMS[@next]['name'] %></span></a>
</nav>