<section id="contact-cta">
	<h4>Webes csapatot keres?</h4>
	<p>A legjobb helyen jár! Kreatív csapatunk bármilyen projekttel megbirkózik. <a class="link quote-button" href="#">Lépjen velünk kapcsolatba!</a></p>
</section>